html {
    height: 100%;
}
body {
    padding: 1%;
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background: linear-gradient(white, salmon);
    background-attachment: fixed;
}

header:after
{
    content:' ';
    display:block;
    border:1px solid black;
}

#logInForm{
    padding-top: 2%;
}