{% extends "inside.html"%}

{%block body%}
<div id="searchForm" class="mx-auto" style="width: 80%;padding-top:10%"></div>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">ISBN</th>
            <th scope="col">Title</th>
            <th scope="col">Author</th>
            <th scope="col">Year</th>
            <th scope="col">Link</th>
        </tr>
    </thead>
    <tbody>
        {%for count,book in books%}
        <tr>
            <td>{{count}}</td>
            <td>{{book[1]}}</td>
            <td>{{book[2]}}</td>
            <td>{{book[3]}}</td>
            <td>{{book[4]}}</td>
            <td>
                <form action="{{url_for('book')}}" method="POST">
                    <button name=bookId value={{book[0]}} type="submit" class="btn btn-outline-dark btn-block"> More about the book
                </button></form>
            </td>
        </tr>
        {%endfor%}

    </tbody>
</table>
{%endblock%}